{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {   'attr': {'class': 'form-control required', 'placeholder':'form.task.title'|trans} }) }}
</div>

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {   'attr': {'class': 'form-control', 'placeholder':'form.task.description'|trans} }) }}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.deadline) }}
            {{ form_widget(form.deadline, {   'attr': {'class': 'datepicker form-control', 'placeholder':'form.task.deadline'|trans} }) }}
        </div>
    </div>
</div>
<input type="hidden" class="field-category-id" name="{{ form.category.vars.full_name }}"
       value="{{ form.category.vars.value }}">

{% if showCategoryInput is defined and showCategoryInput == true %}
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {   'attr': {'class': 'form-control', 'placeholder':'form.task.category'|trans} }) }}
    </div>
{% else %}
    {% do form.category.setRendered %}
{% endif %}

{{ form_end(form) }}