{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {   'attr': {'class': 'form-control', 'placeholder':'form.category.name'|trans} }) }}
</div>

<div class="form-group">
    {{ form_label(form.color) }}
    {{ form_widget(form.color, {   'attr': {'class': 'form-control', 'placeholder':'form.category.color'|trans} }) }}
</div>
<div class="form-group">
    {{ form_label(form.reminder) }}
    {{ form_widget(form.reminder) }}
</div>
{{ form_end(form) }}