{% extends 'MKAppBundle::content.html.twig' %}

{% block content %}
    <div class="row home-categories match-my-cols">

        {% for key, category in categories %}
            <div class="col-md-4 home-category-box" data-action="{{ url('show_ajax_category', {'id':category.id}) }}">
                Loading...
            </div>
        {% endfor %}

        <div class="col-md-4">
            <h3>
                &nbsp;
            </h3>
            <div class="home-add-category text-center">

                <button type="button" class="btn btn-default btn-lg add-new-category"
                        data-loading-text="<i class='glyphicon glyphicon-refresh'></i> Processing"
                        data-action="{{ url('new_category') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Dodaj nową kategorię
                </button>
            </div>
        </div>
    </div>

    <!-- Modals -->
    {% include 'MKAppBundle:_modals:new-task.html.twig' %}
    {% include 'MKAppBundle:_modals:new-category.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mkapp/assets/js/tasks.js') }}"></script>
    <script src="{{ asset('bundles/mkapp/assets/js/categories.js') }}"></script>
{% endblock %}