{% extends 'MKAppBundle::content.html.twig' %}

{% block header_content %}
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
{% endblock %}

{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ mk_app_tasker.getAllTasksTodoCount(app.user) }}</div>
                            <div>{{ 'views.all_tasks_todo'|trans }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('all_tasks') }}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-archive fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ mk_app_tasker.getAllTasksArchivedCount(app.user) }}</div>
                            <div>{{ 'views.all_tasks_done'|trans }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('archives_tasks') }}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ mk_app_tasker.getAllTaskTodoTodayCount(app.user) }}</div>
                            <div>{{ 'views.all_tasks_todo_today'|trans }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('all_tasks') }}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ mk_app_tasker.getAllTaskDoneTodayCount(app.user) }}</div>
                            <div>{{ 'views.all_tasks_done_today'|trans }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('archives_tasks') }}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!-- /.panel -->

            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel <span
                            class="badge">{{ tasks.getTotalItemCount }}</span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">

                        {% for key, task in tasks %}
                            <a href="{{ path('edit_task', {'id':task.id}) }}" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> {{ task.title }}
                                <span class="pull-right text-muted small">
                                    <em> {{ task.deadline|date('Y-m-d H:i:s') }}</em>
                                </span>
                            </a>
                        {% endfor %}

                    </div>
                    <!-- /.list-group -->
                    <a href="{{ path('all_tasks') }}" class="btn btn-default btn-block">View All Tasks</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!-- /.panel -->

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% set tab = mk_app_tasker.getDailyTasks(app.user) %}
    <script>
        $(function () {
            Morris.Area({
                element: 'morris-area-chart',
                data: [
                    {% for key, el in tab %}
                    {
                        period: '{{ key }}',
                        done: {{ el.done }}
                    },
                    {% endfor %}
                ],
                xkey: 'period',
                ykeys: ['done'],
                labels: ['Done'],
                xLabels: 'day',
                pointSize: 2,
                hideHover: 'auto',
                resize: true
            });
        });

    </script>
{% endblock %}