{% extends 'MKAppBundle::content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
                <button type="button" class="btn btn-default add-new-category"
                        data-loading-text="<i class='glyphicon glyphicon-refresh'></i> Processing"
                        data-action="{{ url('new_category') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Dodaj nową kategorię
                </button>
        </div>
    </div>
    <div data-action="{{ url('all_categories') }}" class="row home-categories match-my-cols">

    </div>

    <!-- Modals -->
    {% include 'MKAppBundle:_modals:new-task.html.twig' %}
    {% include 'MKAppBundle:_modals:new-category.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mkapp/assets/js/tasks.js') }}"></script>
    <script src="{{ asset('bundles/mkapp/assets/js/categories.js') }}"></script>
{% endblock %}