{% extends 'MKAppBundle::content.html.twig' %}

{% block header_content %}
    <div class="col-lg-12">
        <h1 class="page-header">Your profile</h1>
    </div>
{% endblock %}

{% block content %}
    <!-- /.row -->
    <div class="row user-profile-wrapper bg-white">
        <div class="col-lg-12">
            {% if user.id is defined %}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-3">
                        {{ 'profile.user.id'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.id }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'profile.user.name'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.username }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'profile.user.mail'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.email }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'profile.user.phone'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ form_widget(form.phone, {   'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'profile.user.locale'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ form_widget(form.locale, {   'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-8">
                        {{ form_widget(form.save, {   'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                </div>

                {{ form_end(form) }}

            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}