{% extends 'MKAppBundle::content.html.twig' %}

{% block header_content %}
    <div class="col-lg-12">
        <h1 class="page-header">Your profile</h1>
    </div>
{% endblock %}

{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            {% if user.id is defined %}
                <div class="row">
                    <div class="col-lg-3">
                        {{ 'User ID'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.id }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'User username'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.username }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'User e-mail'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.email }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        {{ 'User phone'|trans }}
                    </div>
                    <div class="col-lg-8">
                        {{ user.phone }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}