<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TODOapp | Home{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/mkapp/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/mkapp/assets/css/jquery-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/mkapp/libs/datepicker/css/jquery.datetimepicker.css') }}" rel="stylesheet"/>

    <link href="{{ asset('bundles/mkapp/assets/css/main.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="{% block body_classes_names %}{% endblock %}">

<div class="container main-container">
    <div class="row">
        <div class="col-sm-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">
            {{ 'now'|date('Y') }} &copy; <a href="#"> Marcin Kaźmierski</a>
        </p>
    </div>
</footer>

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('bundles/mkapp/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/mkapp/libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mkapp/libs/datepicker/js/jquery.datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/mkapp/assets/js/jquery-ui.min.js') }}"></script>
    <script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('bundles/mkapp/assets/js/ajax.js') }}"></script>
    <script src="{{ asset('bundles/mkapp/assets/js/main.js') }}"></script>
{% endblock %}
</body>
</html>