{% extends 'MKAppBundle::base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">{{ 'html.content.todoapp'|trans }}</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'user_profile' %}active{% endif %}"><a href="{{ path('user_profile') }}">{{ 'html.content.profile'|trans }}</a></li>
                    <li><a class="contact-modal" href="#" data-action="{{ path('ajax_contact') }}">{{ 'html.content.contact'|trans }}</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'archive_tasks' %}active{% endif %}"><a href="{{ path('archive_tasks') }}">{{ 'html.content.archive'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'html.content.logout'|trans }}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="flash-messages">
        {% set flashbag = app.session.flashbag.all() %}
        {% if flashbag is not empty %}
            <div class="container">
                <div class="row margin-top">
                    <div class="col-sm-12">
                        {% for type,flash_messages in flashbag %}
                            {% for message in flash_messages %}
                                <div class="alert alert-{{ type }}" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    {{ message|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
